[submodule "dependence/Kerbal"]
	path = dependence/Kerbal
	url = https://github.com/WentsingNee/Kerbal.git
[submodule "dependence/nlohmann_json"]
	path = dependence/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "dependence/cmdline"]
	path = dependence/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "dependence/boost/format"]
	path = dependence/boost/format
	url = https://github.com/boostorg/format.git
[submodule "dependence/boost/filesystem"]
	path = dependence/boost/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "dependence/boost/lexical_cast"]
	path = dependence/boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "dependence/boost/scope_exit"]
	path = dependence/boost/scope_exit
	url = https://github.com/boostorg/scope_exit.git
