{
	"runtime": {
		"log_file_path": "/var/log/ts_judger/updater.log",
		"max_redis_conn" : 10,
		"max_mysql_conn" : 25
	},
	"mysql": {
		"hostname": "127.0.0.1",
		"username": "root",
		"passward": "123",
		"database": "ojv4",
		"port": 3306
	},
	"redis": {
		"hostname": "127.0.0.1",
		"port": 6379
	}
}
